<head>
    <link rel="stylesheet" href="../../public/css/cards.css">
</head>
<section>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/customers/private">Profile</a>
        <a href="/reservations">Book a Table</a>
        <a class="active" href="/reservations/made">Reservations Made</a>
        <a href="/reviews">Reviews</a>
    </nav>
</section>

<section>
<div class="content">
    <section>
    {{#each reservations}}
    <div class="card">
        <div class="container">
            <h4>Restaurant Name:<b>{{restaurant.name}}</b></a></h4>
            <h4>Number of people:<b>{{this.no_of_guests}}</b></a></h4>
            <h4>Date:<b>{{this.reservationDate}}</b></a></h4>
            <h4>Time:<b>{{this.reservationTime}}</b></a></h4>
        </div>
    </div>
    {{/each}}
    </section>
</div>
</section>