<head>
    <link rel="stylesheet" href="../../public/css/cards.css">
</head>
<section>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/customers/private">Profile</a>
        <a class="active" href="/reservations">Book a Table</a>
        <a href="/reviews">Reviews</a>
    </nav>
</section>

<section>
<div class="content">
    <section>
    {{#each restaurants}}
    <div class="card">
        <div class="container">
            <h2><a href={{this.website}} target="_blank"><b>{{this.name}}</b></a></h2>
            <p>{{this.description}}</p>
            <button href="reservation/{{this._id}}">Make a Reservation Here</button>
        </div>
    </div>
    {{/each}}
    </section>
</div>
</section>