<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Restaurant Table Reservation Page</title>
    <link rel="stylesheet"  href="../../public/css/site.css">
    
</head>

<body>
    
        {{!-- <header class="header">
            <h1>Restaurant Table Reservation Home Page</h1>
        </header> --}}

        {{{body}}}
    </main>

    
    <footer class="footer">
        <p>@ Restaurant Table Reservation Page</p>
    </footer>
    
 
    {{!-- <script src="/public/js/form.js"></script> --}}
</body>

</html>
