<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/site.css" />
</head>

<body>
    {{!-- <div class="content-wrap"> --}}
    {{{body}}}
    <footer class="footer">
        <p>@ Restaurant Table Reservation Page</p>
    </footer>

</body>

</html>