<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Restaurant Table Reservation Page</title>
    <link rel="stylesheet"  href="public/css/site.css">
    
</head>

<body>
    <main>
        <header class="header">
            <h1>Restaurant Table Reservation Home Page</h1>
        </header>

        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>

        <div class="col-sm-6">
            <ul>
                <li>
                    <a id="reservation" href="/reservation"> Make a Table Reservation</a>
                </li>
                <li>
                <a id="userLogin" href="/userLogin">User Login Page</a>
                </li>
                <li>
                    <a id="userRegister" href="/userRegister">User registration Page</a>
                </li>
                <li>
                    <a id="restarantLogin" href="/restaurantLogin">Restaurant Login Page</a>
                </li>
                <li>
                    <a id="restaurantRegister" href="/restaurantRegister">Restaurant Register Page</a>
                </li>
                <li>
                    <a id="reviews" href="/reviews">Review Page</a>
                </li>
            </ul>
            
        </div>
    </main>

    
    <footer class="footer">
        <p>Restaurant Table Reservation Page</p>
    </footer>
    
 
    {{!-- <script src="/public/js/form.js"></script> --}}
</body>

</html>
