<div class="container col-6">
    <div class="container col-6">
        <a href="/restaurants/{{restaurants._id}}" >
            <h1>{{restaurants.name}}</h1>
        </a>
    </div>
    <form method="POST" action="/customer/{{customer._id}}" id="review-form" novalidate>
            <div class="container">
                <div class="col form-group">
                    <label for="rating">Rating</label>
                    <input type="number" class="form-control" id="rating" name="rating" placeholder="Give rating">
                </div>
                <div class="col form-group">
                    <label for="review">Write review</label>
                    <input type="text" class="form-control" id="review" name="review" placeholder="write review">
                </div>
                <div id="review">
                    <button type="submit" class="btn" name="submitButton" id="submitButton">Write Review</button>
                </div>
            </div>
            {{#each errors}}
                <div class = "error">{{this}}</div>
            {{/each}}
    </form>
</div>