<div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/customers/">Customer Login</a>
        <a href="/restaurants/login">Restaurant Login</a>
        <a href="/reviews">Reviews</a>
        </div>

        <div class="col-sm-6">
            <ul>
                <li>
                    <a id="reservation" href="/reservation"> Make a Table Reservation</a>
                </li>
                
                <li>
                    <a id="userRegister" href="/userRegister">User registration Page</a>
                </li>
                
                <li>
                    <a id="restaurantRegister" href="/restaurants/register">Restaurant Register Page</a>
                </li>
                
            </ul>
            
        </div>
