<section>
        <nav class="topnav">
            <a href="/">Home</a>
            <a class="active" href="/customers/login">Customers</a>
            <a href="/restaurants/login">Restaurant</a>
            <a href="/reviews">Reviews</a>
        </nav>
</section>

    <div class="container">
        <h1 class="Login">Login</h1>
        <form method="POST" action="/customers/login" id="login-form">
            <label  for="Email">Email</label>
            <input class="form-control" type="text" id="Email" name="Email" placeholder="Email" required/> 
            <label  for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password" required/>
            <button type="submit" name="submitButton" id="submitButton" class="btn">Login</button>
            {{#each errors}}
                <div class = "error" id="errors">{{this}}</div>
            {{/each}}
        </form>
        <a href="/customers/register">Don't have an account? Click Here!</a>
    </div>
