<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
         <link rel="stylesheet" href="/public/site.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       
    </head>

    <body>
        <main>
            <div class="jumbotron">
                <div class="container">
                    <h1>Login Page</h1>
                </div>
            </div>

            <div class="container">
                <fieldset>
                <legend>Enter User login Information Here</legend>
                <form id="login-form" action="restaurants/login" method="post">
                    <div class="form-group">
                        <label for="username">Restaurant Name</label>
                        <input type="text" class="form-control" name="restaurantName" placeholder="Enter the Restaurant Name here" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter the password here" required>
                    </div>

                    <button type="submit"  class="btn btn-primary">Log In</button>
                </form>
                </fieldset>
            </div>
           </main>
           {{#if hasError}}
                {{#each errors}}
                    <ul>
                    <li class="error">
                        {{this}}
                    </li>
                    </ul>
                    {{/each}}
            {{/if}}
        
    </body>
</html>
