<section>
    <nav class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/customer/login">Customers</a>
        <a href="/restaurants/login">Restaurant</a>
        <a href="/reviews">Reviews</a>
    </nav>
    </section>
<main>
    <div class="jumbotron">
        <div class="container">
            <h1>You've successfully logged out!</h1>
        </div>
    </div>
    <a href="/" class="button">Home Page</a>
</main>
