<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Logout</title>
    <link rel="stylesheet" media="screen"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <main>
        <div class="jumbotron">
            <div class="container">
                <h1>You've successfully logged out!</h1>
            </div>
        </div>
        <a href="/" class="button">Home Page</a>
    </main>
</body>
</html>