<form class="register" method="POST">
    <div>
        <label for="name">Restaurant Name</label>
        <input type="text" name="name" placeholder="Restaurant Name:" required>
    </div>

    <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email ID:" required>
    </div>

    <div>
        <label for="phone-no">Contact Number</label>
        <input type="number" name="phone-no" placeholder="Conatact Number" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" required>
    </div>

    <div>
        <label for="confirm-password">Confirm Password</label>
        <input type="password" name="confirm-password" placeholder="Confirm Password" required>
    </div>

    <div>
        <button type="submit">Register</button>
    </div>
</form>