<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/css/site.css" />
</head>

<body>
<section>
    <nav class="topnav">
        <a  href="/">Home</a>
        <a  class="active" href="/restaurants/private">Profile</a>
        <a href="/restaurants/reservation">No. of Reservation</a>
        <a href="/reviews">Reviews</a>
    </nav>
</section>

<main>
    <div class="jumbotron">
        <div class="container">
            <h1>Here are your reservations</h1>
        </div>
    </div>
    <div>
        <ul>
            {{#each reservation}}
                <li>{{reservation}}</li>
            {{/each}}
        </ul>
    </div>
</main>